/* 
    Created on : Jul 24, 2017, 9:51:58 AM
    Warning: Bad css ahead. Proceed at your own risk
*/

html{
    background: #123;
}
body{
    font-family:sans-serif;
    font-size:15px;
}

div.ageoverlay{
    position:fixed;
    height:100%;
    width:100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    color:white;
    font-size: 35px;
}

p{
    position:relative;
    margin: 0px 3px 0px 3px;
    text-indent: 11px;
}

button{
    overflow: hidden;
    outline: none;
    border:solid;
    border-color:#555;
    border-width:2px;
    color: lightgray;
    background-color:gray;
    margin-top:2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.4s;
    height:23px;
    width: 100px;
    cursor: pointer;
}
button.consentoverlaybutton{
    width:20%;
    height:20%;
    min-height: 100px;
    border-radius:20%;
    font-size: 70%;
    color: #fff;
    border-width:10px;
    border-color:#333;
}
button.bottom{
    width:115px;
}
button.quick{
    width:90px;
}
button.topbutton{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-width: 0px;
    width:60px;
    height:22px;
    float:right;
    margin:0px 1px;
    margin-top:4px;
}
button.flair{
    border-radius:11px;
    /*border-width: 1px;*/
    border:none;
    width:auto;
    height:26px;
    float:left;
    margin-top:0px;
    color: black;
    background-color: #ddd;
}

div.container{
    float:left;
    clear:left;
    border:solid;
    border-width:1px;
    border-color: black;
    border-radius:10px;
    width:804px;
}
div.writing{
    font-family:serif;
    font-size:16px;
    
}
div.pad{
    margin:3px;
}
div.side{
    width:100px;
    float:left;
}
div.tall{
    height:400px;
    float:left;
}
div.center{
    width:600px;
    float:left;
    border-left:solid;
    border-right:solid;
    border-width:1px;
}
div.botrow{
    height:27px;
}

span.important{ /* For alerts */

}
span.stonewrapper{
    font-size:27px;
}
span.stone{
    color:#11a;
    padding:0px;
}